.article-container {
  width: 100vw;
  padding: 0 44px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

:root {
  font-size: 110%;
}

article {
  max-width: 880px;
  color: #cacad4;
}

a {
  color: #bfbfc7;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

a:active {
  opacity: 1;
}

.article-list .search-tags .search-tag,
.article .search-tags .search-tag,
.search-box .search-tags .search-tag {
  font-size: 0.7rem;
  display: inline-block;
  margin: 12px 10px 0 0;
  padding: 2px 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  letter-spacing: 0;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.205);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}
table td,
table th {
  padding: 6px 13px;
  white-space: nowrap;
  border: 1px solid var(--divider-color);
}
table {
  display: block;
  overflow: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  word-wrap: normal;
  word-break: normal;
  border-radius: 4px;
  margin: 1rem 0 2rem 0;
}
code {
  display: inline-block !important;
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  line-height: 1.2rem;
  background-color: var(--code-bg, "#515151") !important;
  margin: 0 0.2rem;
}
pre {
  margin-bottom: 1em;
}
pre code {
  display: inline-block !important;
  padding: 1rem !important;
  width: 100%;
  /*    word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word; */
  overflow-x: auto !important;
  background-color: var(--code-bg, "#515151") !important;
  border-radius: 4px;
  margin: 0;
  line-height: 1.2rem;
  white-space: pre;
}
pre code span {
  white-space: pre;
}
article {
  font-family: "Merriweather", "Georgia", serif, roborto, -apple-system,
    BlinkMacSystemFont, helvetica neue, pingfang sc, hiragino sans gb, STHeiti,
    microsoft yahei, wenquanyi micro hei, Arial, Verdana, sans-serif !important;
  line-height: 1.6rem;
  font-size: 0.85rem;
}
article h1.article-title {
  border-bottom: none !important;
  font-weight: 700 !important;
  padding-bottom: 0 !important;
  line-height: 1.3 !important;
}
article blockquote {
  border-left: 0.15rem solid var(--weight-color);
  background-color: var(--quote-bg);
  padding: 0.8rem;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  display: inline-flex;
  margin: 0 !important;
  margin-bottom: 1em !important;
}
article blockquote p {
  margin-bottom: 0;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: roborto, -apple-system, BlinkMacSystemFont, helvetica neue,
    pingfang sc, hiragino sans gb, STHeiti, microsoft yahei, wenquanyi micro hei,
    Arial, Verdana, sans-serif;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  color: var(--weight-color) !important;
}
article h1,
article h2,
article h3,
article h4 {
  margin: 1rem 0 0.8rem 0 !important;
}
article .article-box {
  opacity: 0;
}
article img {
  max-width: 100%;
  object-fit: cover;
}
article ol li {
  display: list-item;
  margin-left: 1rem;
}
article ul li {
  display: list-item;
  text-decoration: dotted;
  margin-left: 1rem;
}
article a {
  border-bottom: 1px dashed var(--font-color);
}
article h1 {
  font-size: 1.6rem;
}
article h2 {
  font-size: 1.4rem;
}
article h2:before {
  content: "#";
  margin-right: 5px;
}
article h3 {
  font-size: 1.2rem;
}
article h4 {
  font-size: 1rem;
}
article h5 {
  font-size: 1rem;
}
article h1,
article h2 {
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--divider-color, #22262b);
}
article hr {
  /*     box-sizing: content-box;
    height: 0;
    overflow: visible; */
  color: var(--divider-color) !important;
  background-color: var(--divider-color) !important;
  width: 100%;
  height: 1px;
  border: none !important;
  margin: 1rem 0;
}
article pre {
  font-family: monospace, monospace;
  font-size: 1rem;
}
article a {
  background-color: transparent;
}
article abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
article b,
article strong {
  font-weight: bolder;
}
article code,
article kbd,
article samp {
  font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco,
    Consolas, monospace;
  font-size: 0.75rem;
}
article small {
  font-size: 80%;
}
article sub,
article sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
article sub {
  bottom: -0.25rem;
}
article sup {
  top: -0.5rem;
}
article img {
  border-style: none;
  border-radius: 4px;
}
@media img and (max-width: 100px) {
  article {
    border-radius: 0;
  }
}

pre {
  background-color: #000;
}
